{% extends 'core/base.html' %}

{% block branding_tool_name %}Frequency{% endblock %}

{% block stylesheets %}
    <!--
    <link rel="stylesheet" type="text/css" href="static/mentions/style.css"/>
    -->
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="static/frequency/models.js"></script>
    <script type="text/javascript" src="static/frequency/views.js"></script>
    <script type="text/javascript" src="static/frequency/controller.js"></script>
    <script type="text/javascript" src="static/frequency/routes.js"></script>
{% endblock %}

{% block backbone_templates %}
    {% include 'frequency/frequency_result_view.html' %}
{% endblock %}
